html {
	font-size: 10px;
	font-family: 'Gayathri', sans-serif;
	background-color: #E0FFF5;
}
h1 {
	font-size: 60px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: #00539F;
	text-shadow: 3px 3px 1px black;
	border-bottom: 3px solid blue;
}
nav input {
	font-size: 28px;
	color: blue;
	background-color: aqua;
}
h2 {
	font-size: 28px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	font-weight: 700;
}
h3 {
	font-size: 40px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
}
h4 {
	font-size: 30px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
}
h5 {
	font-size: 20px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
}
p, li, dd {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}
dt {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    font-weight: 700;
}
body {
	min-width: 600px;
	max-width: 1000px;
	margin: 0 auto;
	background-color: #FF9500;
	padding: 0 20px 20px 20px;
	border: 5px solid black;
}
main {
	padding: 10px;
}
/*img {
	display: block;
	}
	*/
nav {
	background-color: #e68600;
}
aside img {
	display: block;
	width: 275px;
}
table {
	border-collapse: collapse;
	border: 2px solid rgb(200,200,200);
	letter-spacing: 1px;
	font-size: 1.5em;
  }
  td, th {
	border: 1px solid rgb(190,190,190);
	padding: 10px 20px;
  }
  
  th {
	background-color: rgb(235,235,235);
  }
  
  td {
	text-align: center;
  }
  
  tr:nth-child(even) td {
	background-color: rgb(250,250,250);
  }
  
  tr:nth-child(odd) td {
	background-color: rgb(245,245,245);
  }
  
  caption {
	padding: 10px;
  }
  tbody {
	font-size: 100%;
  }
  
  tfoot {
	font-weight: bold;
  }
/*p, li, h2 {
	width: 500px;
	border: 1px solid black;
}*/
