html {
	font-size: 10px;
	font-family: 'Gayathri', sans-serif;
	background-color: #E0FFF5;
}
h1 {
	font-size: 60px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: #00539F;
	text-shadow: 3px 3px 1px black;
}
nav input {
	font-size: 28px;
	color: blue;
	background-color: aqua;
}
h2 {
	font-size: 28px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	font-weight: 700;
}
h3 {
	font-size: 40px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
}
h4 {
	font-size: 30px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
}
h5 {
	font-size: 20px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
}
p, li, dd {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}
dt {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    font-weight: 700;
}
body {
	min-width: 600px;
	max-width: 1000px;
	margin: 0 auto;
	background-color: #FF9500;
	padding: 0 20px 20px 20px;
	border: 5px solid black;
}
main {
	padding: 10px;
}
/*img {
	display: block;
	}
	*/
nav {
	background-color: #e68600;
}
aside img {
	display: block;
	width: 275px;
}
/*p, li, h2 {
	width: 500px;
	border: 1px solid black;
}*/
